<div id="top"></div>
<h1 class="col-12 col-m-12 col-p-12">ABOUT ME</h1>
<div class="col-12" id="personal">
    <div class="row">
        <div id="photo_frame" class="frame">
            <img id="photo" class="thumbnail" src="face.png">
        </div>
        <div id="info_frame" class="frame">
            <p><b>Name:</b> Dawid Skórewicz</p>
            <p><b>Born: </b>19 September 1990</p>
            <p><b>Position: </b>Software developer / Frontend developer </p>
            <p><b>Graduated: </b><a href="http://www.fis.agh.edu.pl/en/15.html" class="link">Applied Computer Science on AGH University of Science and Technology</a></p>
        </div>
    </div>
    <div class="row">
        <div id="story_frame" class="frame">
            <p>Long story about who I am and what I do here. To be added when I figure it out. Eventually.</p>
        </div>
    </div>
</div>
