<div id="top"></div>
<h1 class="col-12 col-m-12 col-p-12">CONTACT</h1>
<div id="contact">
    <div class="frame col-12 col-m-12 col-p-12">
        <p>Contact me on dawid.skorewicz@gmail.com or use form below to send me a message.</p>
    </div>
    <div class="frame col-12 col-m-12 col-p-12" id="form_frame">
        <input id="address" class="form_element" type="text" placeholder="Address"/><br>
        <input id="topic" class="form_element" type="text" placeholder="Topic"/><br>
        <textarea id="message" class="form_element" rows="10" placeholder="Message"></textarea><br>
        <button id="send" class="form_element" onclick="send();">Send message</button>
    </div>
    <div class="frame col-12 col-m-12 col-p-12">
        [[Place for social media if any]]
    </div>
</div>
